.counter {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 2ch;

  // background-color: #ffffffaa;
  color: black;
  // box-shadow: rgba(0, 0, 0, 0.5) 0px -50px 36px -28px inset;
  user-select: none;

  border-radius: 10px;

  font-size: 32px;
  font-weight: bold;
  font-family: monospace;

  .wheel {
    display: inline;
    width: 1ch;
    height: 2ch;
    text-align: center;
    scroll-behavior: smooth;
    overflow-y: hidden;
    transition: all ease 500ms;

    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
